* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  #container {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    height: 100%; */
    display: flex;
    background-color: black;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  #wordle {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    height: 100%;
  }
  
  header {
    border-bottom: 1px solid rgb(73, 72, 72);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header .navbar {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  a{
    text-decoration: none;
    color: rgb(221, 219, 219);
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  #title {
    color: rgb(221, 219, 219);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 4px;
    margin-left: 30px;
    /* text-align: center; */
  }

  #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
  
  #board {
    display: grid;
    grid-gap: 6px;
    padding: 12px;
    grid-template-columns: repeat(5, 1fr);
    /* box-sizing: border-box; */
  }
  
  .square {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(221, 219, 219);
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  #keypad-container {
      height: 200px;
  }

  .keypad-row {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto 8px;
      touch-action: manipulation;
  }

  .keypad-row button {
      font-weight: bold;
      border: 0;
      height: 53px;
      cursor: pointer;
      background-color: rgb(192, 189, 189);
      margin: 3px;
      text-transform: uppercase;
      border-radius: 4px;
      flex-grow: 1;
      user-select: none;
  }

  .space {
    flex-grow: 0.5;
  }

  .keypad-row button.wide-btn {
    flex-grow: 1.5;
  }